{% extends "base.html" %}

{% block content %}

<a href="{% url 'snacklist' %}">Home</a>

<h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; font-size: 80px;"color:aquamarine ;margin-left: 40%>Snack Create</h1>

<form method="POST">
  {% csrf_token %}
  {{ form.as_p}}
  <input style = "background-color: rgb(124, 245, 166);
  color: white;
  padding: 1em 1.5em;
  text-decoration: none; margin-left: 10%"; type="submit" value="save">

<a style = "background-color: rgb(240, 108, 181); border: 1px black;
color: white;
padding: 1em 1.5em;
text-decoration: none; margin-left: 10%"; href="{% url 'snacklist' %}">Cancel</a>
</form>

{% endblock content %}