{% extends "base.html" %}

{% block content %}
<a href="{% url 'snacklist' %}">Home</a>

<h1 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ; font-size: 80px; color:aquamarine ;margin-left: 40%">Snack Detail</h1>

<h2 style="margin-left: 10%">{{ snack.title }}</h2>
<p style="margin-left: 10%">Description: {{ snack.description }}</p>
<p style="margin-left: 10%">Purchaser: {{ snack.purchaser }}</p>

<br>
<br>
<br>
<a style = "background-color: rgb(135, 226, 217);
color: white;
padding: 1em 1.5em;
text-decoration: none; margin-left: 10%"; href="{% url 'snackupdate' snack.pk %}">UPDATE</a>

<a style = "background-color: rgb(187, 106, 168);
color: white;
padding: 1em 1.5em;
text-decoration: none; margin-left: 10%"; href="{% url 'snackdelete' snack.pk %}">DELETE</a>


{% endblock content %}